<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Indicates wether Spacy should start maximized or normally -->
    <add key="StartMaximized" value="false"/>
    
    <!-- Indicates wether to override automatic screen size calculation and use specific screen width and height below -->
    <add key="OverrideScreenSize" value="false"/>

    <!-- The specific screen width to use. Only active if OverrideScreenSize=true -->
    <add key="ScreenWidth" value="1270"/>

    <!-- The specific screen height to use. Only active if OverrideScreenSize=true -->
    <add key="ScreenHeight" value="720"/>

    <!-- Indicates wether Spacy should scan your machine for drives automatically or use the drives listed in DriveLetters -->
    <add key="DrivesFromAppConfig" value="true"/>
    
    <!-- The specific drives to load when not scanning the machine automatically. Only active if DrivesFromAppConfig is true -->
    <add key="DriveLetters" value="c,d"/> 
    
    <!-- The threshold to indicate low space, in gigabytes (the free space indicator goes red in GUI at this point) -->
    <add key="FreeSpaceWarningThresholdInGb" value="20"/>
  </appSettings>
</configuration>